body {
    background-color:#338877;
    background-size:cover;
    overflow-x: hidden;
}
 h1 {
     color: whitesmoke;
     font-size: 50px;

 }
img {
    border-radius:100%;
}
.center{
    position: relative;
    left: 300px;
    font-family: 'Rock Salt', cursive;
}
